.emailList {
  flex: 1;
  overflow-y: scroll;
}
.emailList__settings {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  border-bottom: 1px solid whitesmoke;
}
