.section {
    display: flex;
    align-items: center;
    min-width: 200px;
    border-block-width: 2px;
    padding: 15px;
}

.section--active {
    background-color: whitesmoke;
    border-width: 3px !important;
}