.sidebarOption {
  display: flex;
  align-items: center;
  height: 40px;
  padding: 0 40px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  cursor: pointer;
  color: #818181;
}
.sidebarOption > p {
  display: none;
  font-weight: 300;
}
.sidebarOption > h3 {
  flex: 1;
  margin-left: 10px;
  font-size: 14px;
  font-weight: 400;
}
.sidebarOption > div {
  padding: 5px;
}
.sidebarOption:hover > p {
  display: inline;
}
.sidebarOption:hover,
.sidebarOption:hover > p,
.sidebarOption:hover > h3 {
    background-color: #fcecec;
    color: red;
    font-weight: 800 !important;
}
