.sidebarOption {
    display: flex;
    align-items: center;
    height: 40px;
    padding: 0 40px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    cursor: pointer;
    color: ;
}